@import "null.scss";
@import url(//db.onlinewebfonts.com/c/4cb0a725d25db5a5401af8cffa9f3beb?family=Bebas+Neue+Bold);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic&display=swap);

/* ================================================================Основні класи=============================================================================== */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.container {
	max-width: 941px;
	padding: 0px 15px;
	margin: 0px auto;
	box-sizing: content-box;
}
.ibg {
	position: relative;
}
.ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

/* ==============Header=============== */
.header {
  position: relative;
  &__container {
    z-index: 3;
    position:relative;
  }

  &__background {
   position: absolute;
   width: 100%;
   height: 100%;
   top:0;
   left:0;
  }

  &__logo {
    padding:41px 0 317px 0;
    text-align: center;
    @media(max-width:534px) {
    padding:41px 0 220px 0;
    }
    @media(max-width:320px) {
      padding:45px 0 240px 0;
      }
  }

  &__title {
    font-family: BebasNeueBold;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 5.70937px;
    color: #FFFFFF;
    text-align: center;
    margin:0 0 21px 0;
    max-width:100%;
    @media(max-width:920px) {
      font-size: 50px;
    }
    @media(max-width:790px) {
      font-size: 40px;
    }
    @media(max-width:663px) {
      font-size: 30px;
    }
    @media(max-width:534px) {
      line-height: 30px;
      margin:0 0 10px 0;
    }
  }

  &__subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    max-width:100%;
    padding: 0 0 221px 0;
    @media(max-width:663px) {
      font-size: 12px;
      padding: 0 0 150px 0;
    }
  }

  &__undertext {
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 3.7px;
    color: #FFFFFF;
    padding:0 0 71px 0;
  }
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!main!!!!!!!!!!!!!!!!!!!!! */
.main {
  flex: 1 1 auto;
  
  &__navbar {
    box-shadow:(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 0 0 58px 0;
  }
  
  &__story {
    padding: 0 0 118px 0;
    @media(max-width:973px){
      padding: 0 0 50px 0;
    }
  }

  &__capabilities {
    padding: 0 0 105px 0;
    @media(max-width:973px){
      padding: 0 0 50px 0;
    }
  }

  &__amazing {
    position: relative;
  }

  &__signup {
    background: #171819;
  }
}


/* !!!!!!!!!!!!!!!!!!!!!!!!navigation!!!!!!!!!!!!!!!!!!!!!!!!!! */
.main-navbar {
  
  &__container {
    min-height: 65px;
    display: flex;
    @media(max-width:937px){
      min-height: 100px;
    }
  }

  &__body {
    display: flex;
    text-align: center;
    align-items: center;
  }

  &__logo {
  margin: 0 445px 0 0;
  @media(max-width:936px){
      margin: 0 700px 0 0;
    }
  @media(max-width:876px){
    margin: 0 650px 0 0;
  }
  @media(max-width:825px){
    margin: 0 600px 0 0;
  }
  @media(max-width:787px){
      margin: 0 550px 0 0;
    }
  @media(max-width:725px){
      margin: 0 500px 0 0;
    }
    @media(max-width:679px){
      margin: 0 450px 0 0;
    }
  @media(max-width:627px){
    margin: 0 400px 0 0;
    }
  @media(max-width:610px){
      margin: 0 350px 0 0;
    }
  @media(max-width:529px){
      margin: 0 290px 0 0;
    }
  @media(max-width:467px){
      margin: 0 240px 0 0;
    }
  @media(max-width:415px){
      margin: 0 200px 0 0;
    }
  @media(max-width:379px){
      margin: 0 170px 0 0;
    }
  @media(max-width:379px){
      margin: 0 170px 0 0;
  }
  @media(max-width:341px){
      margin: 0 130px 0 0;
  }
  @media(max-width:300px){
    margin: 0 100px 0 0;
}
}
  &__list {
    display: flex;
    flex-wrap: wrap;
    @media(max-width:936px){
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content:center;
      }
  }

  &__item {
    &:not(:last-child){
      margin: 0 32px 0 0;
    }
    @media(max-width:936px){
    padding: 5px 5px;
    &:last-child{
      margin: 0 32px 0 0;
    }
    }
  }

  &__link {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.09091px;
    color: #48555B;
    &:hover{
      color: #00A4E5;
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!PAGE OUR STORY!!!!!!!!!!!!!!!!!!!!! */
.main-story {

  &__title {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 2.30625px;
    color: #48555B;
    position: relative;
    padding: 0 0 10px 0;
    &::after{
      content:'';
      background: #00A4E5;;
      border: 1px solid #00A4E5;
      width: 50px;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin: 0 0 0 -27px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }

  &__content {
    display:flex;
    @media(max-width:857px){
      flex-direction: column;
      text-align:center;
      justify-content: center;
      align-items:center;
    }
    
  }

  &__left-content {
    display: flex;
    flex-direction:column;
    margin: 0 77px 0 0;
    @media(max-width:857px){
      margin:0;
    }
  }

  &__right-content {
    display:flex;
    padding: 84px 0 0 0;
    @media(max-width:857px){
      padding: 30px 0 0 0;
    }
  }

}

.left-content {
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.1875px;
    color: #48555B;
    max-width: 405px;
    padding: 58px 0 38px 0;
    @media(max-width:857px){
      max-width: 100%;
      padding: 40px 0 20px 0;
    }
    span{
      color:#16ACE8;
    }
  }

  &__text {
    max-width: 406px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;;
    letter-spacing: 0.1875px;
    color: #48555B;
    @media(max-width:857px){
      max-width: 100%;
    }
  }
}
.right-content {

  &__frsimg {
    margin:0 20px 0 0;
    img{
      width: 100%;
      height: 100%;
    }
  }

  &__scnimg {
    margin:0 20px 0 0;
    img{
      width: 100%;
      height: 100%;
    }
  }

  &__trplimg {
    img{
      width: 100%;
      height: 100%;
    }
  }
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!page OUR CAPABILITIES!!!!!!!!!! */


.main-capabilities {

  &__head {
    display: flex;
    align-items: center;
    text-align:center;
    padding: 0 0 80px 0;
    @media(max-width:973px){
      flex-direction: column;
      padding: 0 0 30px 0;
    }
  }

  &__columns {
    display: flex;
    @media(max-width:973px){
      flex-direction: column;
    }
  }

  &__column {
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    flex: 0 1 33.33%;
    padding: 38px 0 39px 23px;
    &:not(:last-child){
    margin:0 27px 0 0;
    }
    @media(max-width:973px){
      &:not(:last-child){
        margin:0 0 0 0;
        }
      align-items: center;
      text-align:center;
      flex: 0 1 100%;
      padding:10px 0 10px 0;
    } 
  }
}

.capabilities-head {

  &__title {
    margin: 0 155px 0 0;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 2.30625px;
    color: #48555B;
    position: relative;
    padding: 0 0 10px 0;
    &::after{
      content:'';
      background: #00A4E5;;
      border: 1px solid #00A4E5;
      width: 50px;
      height: 2px;
      position: absolute;
      bottom: 0;
      right: 100%;
      margin: 0 -51px 0 0;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    @media(max-width:973px){
      margin: 0;
      &::after{
        content:'';
        background: #00A4E5;;
        border: 1px solid #00A4E5;
        width: 50px;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin: 0 0 0 -25px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
    }
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 173%;
    letter-spacing: 0.2px;
    color: #48555B;
    max-width: 406px;
    margin: 0 33px 0 0;
    @media(max-width:973px){
      margin: 10px 0 0 0;
    }
  }

  &__button {
    @media(max-width:973px){
      margin: 10px 0 0 0;
    }
  }
}
.button {
  background: #00A4E5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  font-size: 13px;
  line-height: 17px;
  display: flex;
  text-align: center;
  align-items:center;
  justify-content: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  padding: 11px 29px;
  min-height: 40px;
  transition: all 0.3s ease 0s;
  &:hover{
    background:coral;
  }
}

.column {

  &__image {
    width: 100%;
    height: 100%;
    margin: 0 0 25px 0;
    @media(max-width:500px){
      margin: 0 0 10px 0;
    }
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    align-items: center;
    max-width: 250px;
    letter-spacing: 0.426667px;
    color: #48555B;
    margin: 0 0 13px 0;
    @media(max-width:500px){
      margin: 0 0 5px 0;
    }
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    align-items: center;
    letter-spacing: 0.1875px;
    color: #48555B;
    max-width: 250px;
  }
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!AMAZING!!!!!!!!!!!!!!!! */

.main-amazing {

  &__container {
    position: relative;
    z-index: 3;
    display:flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
  }

  &__title {
    padding: 120px 0 0 0;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.15px;
    color: #48555B;
    max-width: 350px;
    align-items: center;
    @media(max-width:973px){
      padding: 0;
    }
    @media(max-width: 340px){
      font-size: 23px;
    }
  }

  &__button {
    padding: 35px 0 231.24px 0;
    @media(max-width: 881px){
      padding: 35px 0 100px 0;
    }
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
  }
}

.button2 {
  background: #00A4E5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  font-size: 13px;
  line-height: 17px;
  display: flex;
  text-align: center;
  align-items:center;
  justify-content: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  padding: 11px 26px;
  min-height: 40px;
  transition: all 0.3s ease 0s;
  &:hover{
    background:coral;
  }
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!SIGN UP!!!!!!!!!!!!!!!!!!!!! */

.main-signup {

  &__body {
    display:flex;
    padding: 35px 0;
    align-items: center;
    text-align:center;
    @media(max-width: 881px){
      flex-direction: column;
    }
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    margin: 0 70px 0 129px;
    @media(max-width: 881px){
      margin: 0 0 10px 0;
    }
  }

  &__form {
    display: flex;
  }

  &__input {
    background: #FFFFFF;
    border: 1px solid #979797;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.07px;
    color: #48555B;
    padding: 11px 98px 10px 16px;
    @media(max-width: 469px){
      padding: 11px 10px 10px 7px;
    }
  }

  &__button {
    background: #00A4E5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;
    display: flex;
    text-align: center;
    align-items:center;
    justify-content: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    padding: 11px 49.5px 11px 48.5px;
    min-height: 40px;
    transition: all 0.3s ease 0s;
    &:hover{
      background:coral;
    }
    @media(max-width: 469px){
      padding: 11px 15px;
    }
  }
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Footer!!!!!!!!!!!!!!!!! */

.footer {

  &__top {
    background: #141A20;
    padding: 42px 0 50px 0;
  }

  &__bottom {
    background: #171819;
    display:flex;
    text-align: center;
    align-items:center;
    justify-content: center;
  }

}




.footer-top {

		&__body {
      display:flex;
		}

		&__frstfootcolumn {
      display: flex;
      flex-direction: column;
      z-index: 3;
		}

		&__scndfootcolumn {
      display:flex;
		}

		&__contact {
      display: flex;
      flex-direction: column;
      margin: 0 46px 0 0;
      @media(max-width:667px){
        margin: 0 20px 0 0;
      }
      @media(max-width:447px){
        margin: 0 10px 0 0;
      }
		}

		&__images {
      display: flex;
      padding: 30px 0 0 0;
      @media(max-width:729px){
        flex-direction: column;
        margin: 0;
      }
		}
}
.frsfootcolumn {
    &__title {
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 15px;
      letter-spacing: 0.846154px;
      color: #FFFFFF;
    }

		&__image {
      margin: 19px 0 0 0;
		}

		&__text {
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 173%;
      letter-spacing: 0.85px;
      color: #FFFFFF;
      max-width: 250px;
      margin: 15px 0 0 0;
      @media(max-width:729px){
        font-size: 8px;
      }
      @media(max-width:447px){
        max-width: 150px;
      }
		}
}
.scndfootcolumn {

		&__menu1 {
      margin: 0 34px 0 71px;
      @media(max-width:667px){
        margin: 0 20px 0 10px;
      }
      @media(max-width:447px){
        margin: 0 10px 0 0;
      }
		}

		&__menu2 {
      margin: 0 38px 0 0;
      padding: 25px 0 0 0;
      @media(max-width:667px){
        margin: 0 20px 0 0;
      }
      @media(max-width:447px){
        margin: 0 10px 0 0;
      }
		}

		&__menu3 {
      margin: 0 58px 0 0;
      padding: 25px 0 0 0;
      @media(max-width:667px){
        margin: 0 20px 0 0;
      }
      @media(max-width:447px){
        margin: 0 10px 0 0;
      }
      @media(max-width:483px){
        padding: 100px 0 0 0;
        margin: 0 0 0 -50px;
      }
		}

    &__title {
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 15px;
      letter-spacing: 0.846154px;
      color: #FFFFFF;
      max-width: 59px;
      margin: 0 0 10px 0;
		}
}
.menu1 {
		&__item {
      font-style: normal;
      font-weight: 600;
      font-size: 11px;
      line-height: 25px;
      letter-spacing: 0.846154px;
      color: #FFFFFF;
      @media(max-width:483px){
        font-size: 8px;
      }
		}
}
.menu2 {
		&__item {
      font-style: normal;
      font-weight: 600;
      font-size: 11px;
      line-height: 25px;
      letter-spacing: 0.846154px;
      color: #FFFFFF;
      @media(max-width:483px){
        font-size: 8px;
      }
		}
}
.menu3 {
		&__link {
      @media(max-width:483px){
        display:flex;
      }
		}

		&__item {
      font-style: normal;
      font-weight: 600;
      font-size: 11px;
      line-height: 25px;
      letter-spacing: 0.846154px;
      color: #FFFFFF;
      @media(max-width:483px){
        font-size: 8px;
      }
		}
}
.contact {
  
		&__title {
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 15px;
      letter-spacing: 0.846154px;
      color: #FFFFFF;
      margin: 0 0 15px 0;
      @media(max-width:667px){
        font-size: 8px;
      }
		}

		&__street {
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 15px;
      letter-spacing: 0.846154px;
      color: #FFFFFF;
      margin: 0 0 15px 0;
      max-width: 110px;
      @media(max-width:667px){
        font-size: 8px;
      }
		}

		&__phone {
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 15px;
      letter-spacing: 0.846154px;
      color: #FFFFFF;
      margin: 0 0 15px 0;
      max-width: 80px;
      @media(max-width:667px){
        font-size: 8px;
      }
      @media(max-width:483px){
        margin: 0 0 30px 0;
      }
		}

		&__mail {
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 15px;
      letter-spacing: 0.846154px;
      color: #FFFFFF;
      max-width: 80px;
      @media(max-width:667px){
        font-size: 8px;
      }
		}
}
.images {
  

		&__fb {
      margin: 0 25px 0 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      @media(max-width:729px){
        margin: 0;
      }
		}

		&__twitter {
      margin: 0 25px 0 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      @media(max-width:729px){
        margin: 0;
      }
		}

		&__google {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
		}
}



.footer-bottom {

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    max-width: 330px;
    padding: 22px 0;
    @media(max-width:339px){
      font-size: 8px;
    }
  }
}
